body{
    background-color: #D6E2F0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
/*
#main{ 
    height: auto;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    
    background-color: white;
}
*/
#main {
    height: auto;
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    background-color: white;
  }
#main img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#main h1{
    font-family: 'outfit', sans-serif;
    color: #1F3251;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 20px;
}
#main p{
    font-family: 'outfit', sans-serif;

    color: #7B879D;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 20px;
}