body{
    background: hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
}
#main{
    background: black;
    border-radius: 4px;
    padding: 8px;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
}